@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-800 font-sans antialiased;
}

h1, h2, h3 {
  @apply font-semibold text-gray-900;
}

a {
  @apply text-indigo-600 hover:text-indigo-700 transition;
}

.leaflet-control-attribution {
  font-size: 10px;
  opacity: 0.6;
}
